*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

header
{
	position:sticky;
	top:0;
	left:0;
	width:100%;
	padding: 20px 100px;
	margin-bottom: 0px;
	background: rgb(49,79,79);
	display:flex;
	justify-content:space-between;
	align-items: center;
	z-index:100;
	
}


.Logo {
    border-radius: 20px;
    width: 60px;
    height: 60px;
}

.navbar a {
    position:relative;
    font-size: 20px;
    color: #ffe5cb;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar a::before 
{
	content: " ";
	position: absolute;
	top:100%;
	left:50%;
	width:0;
	height:2px;
	background:#ffbdac;
	transform: translate(-50%,-50%);
	transition-duration: .5s;
}

.navbar a:hover::before
{
    transition: .3s;
	color:#ffbdac;
	width:100%;
}

.main
{
    min-height:40vh;
	width:100%;
	background-color: rgba(49,79,79,.6);
	background-repeat:no-repeat;
	background-size:100%;
	display:flex;
	align-items:left;
	
}

.Textspace
{
    min-height:80vh;
	width:50%;
	margin-left: 5em;
	margin-top: 5em;
	padding-left: 3rem ;
	padding-top: 8rem ;
	padding-right: 3rem ;
	box-shadow: 20px 20px 50px rgba(0,0,0,.5);
	cursor:pointer;
	box-radius:35px;
	border-radius:15px;
	background: rgba(255,255,255,.1);
	backdrop-filter:blur(10px);
	transition:0.3s;
}


.Textspace h1
{
	font-size:100px;
	color: #ffe5cb;
	text-shadow: 5px 5px 10px black;
}


.Textspace p
{
	font-size:20px;
	color: #ffe5cb;
}

.TeamHeading
{
    margin: 0;
    padding: 4em;
    align-items: center;
    background-color: rgba(49,79,79,.6);
}

.TeamHeading h1
{
    font-size:100px;
    color:#ffe5cb;
    text-shadow: 5px 5px 10px black;
}

.TeamContainer
{
   position: relative; 
   display: flex;
   height: 30rem;
   overflow: hidden;
   background-color: rgba(49,79,79,.6);
}

.OurTeam
{
    position:relative;
    left:35%;
    display:flex;
    justify-content: center;
   // background-color: rgba(49,79,79,.6);
    margin-top:3rem;
    margin-bottom:2rem;
    width:90%;
	
}

.TeamCard
{   
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    justify-content: center;
    width:19em;
    height:25em;
    overflow:hidden;
    margin-bottom:3em;
    box-shadow: 20px 20px 50px rgba(0,0,0,.5);
	border-radius:10px;
	transform-style: preserve-3d;
	transform-origin: center;
    
}

.TeamCard .ImgBox img
{
    width:100%;
    height:100%;
    
}

.TeamCard .MemberInfo
{
    position:absolute;
    display:flex;
    align-items: center;
    flex-direction:column;
    width:100%;
    height:30%;
    border:1px rgba(0,0,0,0.3);
    border-radius:15px;
    backdrop-filter: blur(15px);
    transition:bottom 0.5s;
    transition-delay:0.2s;
   // bottom: -35%;
}

.TeamCard:hover .MemberInfo
{
    bottom:0;
    transition-delay:0.1s ;
    color:white;
}

.TeamCard .MemberInfo h2
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight:500;
    font-size:20px;
    text-align:center;
    margin:15px 0 15px;
    line-height:1.1em;
    transition:0.5s;
    transition-delay:0.2s;
    opacity: 0;
    transform: translateY(-40px);
    
}

.TeamCard:hover .MemberInfo h2
{
    opacity: 1;
    transform: translateY(0);
}

.TeamCard .MemberInfo h2 span
{
    font-size:15px;
    font-weight:300;
    text-transform: initial;
    
}

.TeamCard .MemberInfo .SocialMedia
{
   position:relative;
   bottom:10px;
   display:flex;
   
   
}

.TeamCard .MemberInfo .SocialMedia li
{
    list-style:none;
    margin:0 10px;
    transform:translateY(40px);
    transition:all 0.5s ease-in-out;
    opacity: 0;
    transition-delay:calc(0.1s* var(--i));
}

.TeamCard:hover .MemberInfo .SocialMedia li
{
    transform: translateY(0) ;
    opacity: 1;
}

.TeamCard .MemberInfo .SocialMedia li a 
{   
    color:white;
    font-size:25px;
    
}


.TeamCard:nth-child(1)
{
    left:20%;
    z-index:1;
    opacity: 0.1;
    transform: scale(0.5) perspective(600px) rotate3d(0,-10, 0,10deg) ;
}

.TeamCard:nth-child(2)
{
    left:30%;
    z-index:2;
    opacity:0.3;
    transform: scale(0.6) perspective(600px) rotate3d(0,10, 0,10deg);
}

.TeamCard:nth-child(3)
{
    left:0%;
    z-index:3;
    opacity:1;
    transform: scale(1) ;
}

.TeamCard:nth-child(4)
{
    left:-30%;
    z-index:2;
    opacity:0.3;
    transform: scale(0.6) perspective(600px) rotate3d(0,-10, 0,10deg);
}

.TeamCard:nth-child(5)
{
    left:-20%;
    z-index:1;
    opacity:0.1;
    transform: scale(0.5) perspective(600px) rotate3d(0,10, 0,10deg);
}

.TeamContainer .Controls span
{
    
    border:2px solid #ffe5cb;
    border-radius:50%;
    font-size:3em;
	color: #ffe5cb;
    

}

.TeamContainer .Controls span:hover
{
    color:#333;
    border:2px solid #333;
    transform:scale(1.5);
    cursor: pointer;
}

.TeamContainer .Controls
{
    //background-color: rgba(49,79,79,.6);
    position: relative;
    width:5%;
    align-content: center;
    padding-left:1em;
}



footer
{
	background: rgba(49,79,79,.9);
	height:20%;
	width:100%;
	display:flex;
	justify-content:space-between;
	flex-direction: row;
	position: relative;
	
}

.footerCont
{
   width:30%;
   margin:auto;
   padding:10px;
   display: flex;
   flex-direction:column;
   align-items:center;
}

.footerCont ul
{
    text-align:center;
}

.list
{
    padding:0;
}

.list li
{
    width:auto;
    text-align:center;
    list-style-type: none;
    padding:10px;
    position:relative;
    
}

.list li::before
{
    content:"";
    position:absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:100%;
    width:0;
    height:2px;
    background:#ffe5cb;
    transition-duration: .5s;
}

.list li:hover::before
{
    width:70px;
}

.social-icons
{
    text-align:center;
    padding:0;
}    

.social-icons li
{
    display:inline-block;
    text-align:center;
    padding:5px;
}

.social-icons i
{
   color:white;
   font-size:25px;
}

.footerCont a 
{
    text-decoration:none;
    font-size:15px;
    color: #ffe5cb;
}
    
.footerCont a:hover
{
   color:#ffbdac;
   
}

.Socials ul 
{
    
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.Socials li
{
     margin:0 10px;
}    

.social-icons i:hover
{
    color:#ffa4c8;
}
.bottomBar
{
    background:black;
    text-align:center;
    color:white;
    padding:10px 0;
    margin:0;
    font-size:10px;
}

footer h2
{
	font-size:30px;
	margin-bottom:20px;
	color:#ffe5cb;
}

footer h3
{
	font-size:30px;
	margin-bottom:20px;
	color: #ffe5cb;
	text-shadow: 5px 5px 10px black;
}

footer p
{
	font-size:10px;
	color:#ffe5cb;
	padding:10px;
}

