*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

header
{
	position:sticky;
	top:0;
	left:0;
	width:100%;
	padding: 20px 100px;
	margin-bottom: 0px;
	background: rgb(49,79,79);
	display:flex;
	justify-content:space-between;
	align-items: center;
	z-index:100;
	
}

.Logo {
    border-radius: 20px;
    width: 60px;
    height: 60px;
}

.navbar a {
    position:relative;
    font-size: 20px;
    color: #ffe5cb;
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar a::before 
{
	content: " ";
	position: absolute;
	top:100%;
	left:50%;
	width:0;
	height:2px;
	background:#ffbdac;
	transform: translate(-50%,-50%);
	transition-duration: .5s;
}

.navbar a:hover::before
{
    transition: .3s;
	color:#ffbdac;
	width:100%;
}

.container
{   
    color:#ffe5cb;
    min-height:100vh;
	width:100%;
	background-color: rgba(49,79,79,.6);
	background-size:100%;
	display:flex;
	justify-content:center;
	flex-direction: column;
	align-items:center;
	
}

.container form
{
	width:30%;
	height:60vh;
	display:flex;
	justify-content:center;
	box-shadow: 20px 20px 50px rgba(0,0,0,.5);
	box-radius:35px;
	border-radius:15px;
	background: rgba(255,255,255,.1);
	backdrop-filter:blur(10px);
	flex-wrap:wrap;
	transition: .3s;
}

.container form:hover
{
   transform: scale(1.2);
}

.container form input
{
  width: 200px;
  height:50px;
  padding-left:10px;
  outline:none;
  border:none;
  font-size:15px;
  margin-bottom:10px;
  background:none;
  border-bottom:2px solid white;
  color:white;	
}

.container form input::placeholder
{
	color: #ffecb;
}

.container form #lastName,
.container form #mobile
{
  margin-left:20px;	
}

.container form h1
{

	font-weight:500;
	font-size:60px;
	width:600px;
	margin-top:20px;
	text-align:center;
	font-family:Poppins;
}

.container form h2
{
	font-weight:500;
	font-size:30px;
	width:600px;
	margin-top:20px;
	margin-left:20px;	
	font-family:Poppins;
}

.container form textarea
{
	background:none;
	border:none;
	border-bottom: 2px solid white;
	color:white;
	font-weight:200;
	font-size:15px;
	padding:10px;
	outline:none;
	min-width:85%;
	max-width:95%;
	min-height:40px;
	max-height:70px;
}

textarea::-webkit-scrollbar
{
	width:1em;
}

textarea::-webkit-scrollbar-thumb
{
	background-color: rgba(194,194,194,.71);
	cursor:pointer;
}

.container form #button
{
	border:none;
	background:#ffe5cb;
	border-radius:20px;
	margin-top:20px;
	font-weight:600;
	font-size:20px;
	color:#333;
	width:100px;
	padding:0;
	margin-right:500p;
	margin-bottom:30px;
	transition:.3s;
}

.container form #button:hover
{
	opacity:.7;
}


.Storebtn
{
    font-size:30px;
	background:#ffe5cb;
	width:200px;
	height:40px;
}


footer
{
	background: rgba(49,79,79,.9);
	height:20%;
	display:flex;
	justify-content:space-between;
	flex-direction: row;
	
}

.footerCont
{
   width:30%;
   margin:auto;
   padding:10px;
   display: flex;
   flex-direction:column;
   align-items:center;
}

.footerCont ul
{
    text-align:center;
}

.list
{
    padding:0;
}

.list li
{
    width:auto;
    text-align:center;
    list-style-type: none;
    padding:10px;
    position:relative;
    
}

.list li::before
{
    content:"";
    position:absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:100%;
    width:0;
    height:2px;
    background:#ffe5cb;
    transition-duration: .5s;
}

.list li:hover::before
{
    width:70px;
}

.social-icons
{
    text-align:center;
    padding:0;
}    

.social-icons li
{
    display:inline-block;
    text-align:center;
    padding:5px;
}

.social-icons i
{
   color:white;
   font-size:25px;
}

.footerCont a 
{
    text-decoration:none;
    font-size:15px;
    color: #ffe5cb;
}
    
.footerCont a:hover
{
   color:#ffbdac;
   
}

.Socials ul 
{
    
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
}

.Socials li
{
     margin:0 10px;
}    

.social-icons i:hover
{
    color:#ffa4c8;
}


footer h2
{
	font-size:30px;
	margin-bottom:20px;
	color:#ffe5cb;
}

footer h3
{
	font-size:30px;
	margin-bottom:20px;
	color: #ffe5cb;
	text-shadow: 5px 5px 10px black;
}

footer p
{
	font-size:10px;
	color:#ffe5cb;
	padding:10px;
}

.bottomBar
{
    background:black;
    text-align:center;
    color:white;
    padding:10px 0;
    margin:0;
    font-size:10px;
}
